/* --- SECTIONS DÉROULANTES --- */
.about-section { 
    margin-top: 0; 
    cursor: pointer; 
    overflow: hidden; 
}

/* Espacement spécifique entre Projets et À Propos */
#about-trigger {
    margin-top: 12px; 
}

.about-header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    pointer-events: none; 
}

.arrow-icon { 
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1); 
    display: inline-block; 
}

.about-section.open .arrow-icon { 
    transform: rotate(90deg); 
}

.about-content-wrapper { 
    max-height: 0; 
    opacity: 0; 
    transition: 0.4s ease; 
    overflow: hidden; 
}

.about-section.open .about-content-wrapper { 
    max-height: 200px; 
    opacity: 1; 
    margin-top: 15px; 
}

/* Style des liens internes aux projets */
.project-link-item {
    display: block;
    color: var(--text-dim);
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 0;
    transition: color 0.3s;
}

.project-link-item:hover { 
    color: var(--text-main); 
    text-decoration: underline; 
}